:root {
    font-size: 62.5%;
    --primary-color: #00ff33;
    --main-transition: 0.3s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background-color: #000;
    color: var( --primary-color );
    font-family: 'terminalFont', monospace;
}

h1 {
    font-size: clamp( 2.4rem, 5vw, 3.2rem);
    text-align: center;
}

h2 {
    font-size: clamp( 2.0rem, 2vw, 2.4rem);
    font-weight: 400;
}

#main-section {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    padding: 4% 15% 8%;
    min-width: 100%;
    min-height: 100vh;
}

.mobile-break {
    display: none;
}

.underscore-std {
    visibility: hidden;
}

.excs-menu {
    display: grid;
    gap: 6rem;
    grid-template-columns: repeat(2, 25%);
    align-items: center;
    justify-content: center;
}

.excs-menu article {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #000;
    transition: var(--main-transition);
}

.excs-menu article:hover {
    transition: var(--main-transition);
    box-shadow:0 0 10px 3px var(--primary-color);
}

.excs-menu article a > img {
    width: 100%;
}

.excs-menu article .excs-content {
    display: flex;
    flex-direction: column;
    margin-top: calc( 1rem + 0.5vw );
    gap: calc( 1rem + 0.5vw );
    margin: calc( 1rem + 1vw );
}

.hidden-underscore-span {
    visibility: hidden;
}

.underscore-hover {
    visibility: hidden;
}

.hidden-nbsp-span {
    display: none;
}

.excs-menu article .link-btn{
    text-decoration: none;
    color: var( --primary-color );
    font-size: clamp( 1.6rem, 2vw, 1.8rem);
    border: 1px solid var(--primary-color);
    padding: 1rem;
    transition: var(--main-transition);
}

.excs-menu .link-btn:hover {
    color: #fff;
    border-color: #fff;
    transition: var(--main-transition);
}

@media ( max-width: 70em ) {
    .excs-menu {
        grid-template-columns: repeat(2, 35%);
    }

}

@media ( max-width: 40em ) {
    h1 {
        text-align: center;
        line-height: 1.5;
    }

    h2 {
        text-align: center;
    }

    #main-section {
        padding: 7% 15%;
        min-height: 120vh;
    }

    .excs-menu {
        grid-template-columns: 70%;
        gap: 4.5rem;
    }

    .mobile-break {
        display: block;
    }

}