:root {
    --primary-color: #00ff33;
    --main-transition: 0.3s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    min-width: 100%;
    justify-content: center;
    background-color: #000;
    color: var( --primary-color );
    font-family: 'terminalFont', monospace;
}

h1 {
    font-size: clamp( 1.6rem, 6vw, 2.2rem);
}

h2 {
    font-size: clamp( 1.3rem, 4vw, 1.6rem);
    font-weight: 400;
}

p{
    font-size: clamp( 1rem, 3vw, 1.4rem);
}

i {
    font-size: clamp( 2rem, 5vw, 3rem);
}

#main-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 4%;
    padding-bottom: 8%;
    gap: 6rem;
}

.mobile-break {
    display: none;
}

.underscore-std {
    visibility: hidden;
}

.excs-menu {
    display: grid;
    gap: 5rem;
    grid-template-columns: 20% 20%;
    align-items: center;
    justify-content: center;
}

.exercises-item {
    display: flex;
    flex-direction: column;
    border: 1px solid var( --primary-color );
    padding: 2rem;
    gap: 1.2rem;
    text-align: center;
    background-color: #000;
    transition: var(--main-transition);
}

.exercises-item:hover {
    transform: scale(1.2);
    transition: var(--main-transition);
}

.excs-thumb {
    width: 100%;
}

.hidden-underscore-span {
    visibility: hidden;
}

.underscore-hover {
    visibility: hidden;
}

.hidden-nbsp-span {
    display: none;
}

.link-btn {
    text-decoration: none;
    color: var( --primary-color );
    font-size: clamp( 1rem, 3vw, 1.4rem);
    border: 1px solid var(--primary-color);
    padding: 1rem;
    transition: var(--main-transition);
}

.link-btn-mobile {
    display: none;
}

.link-btn:hover {
    color: #fff;
    border-color: #fff;
    transition: var(--main-transition);
}

@media ( max-width: 40em ) {
    h1 {
        text-align: center;
        line-height: 1.5;
    }

    h2 {
        text-align: center;
    }

    #main-section {
        padding: 7% 0;
        gap: 4rem;
    }

    .excs-menu-mobile {
        display: grid;
        gap: 2rem;
        grid-template-columns: 70%;
        align-items: center;
        justify-content: center;
    }

    .mobile-break {
        display: block;
    }

}